@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-third : #005C55;
  --font-primary : #0F766E;
  --font-secondary: #F59E0B;
  --font-tertiary: #22C55E;
  --font-neutral: #F8FAFC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-third: var(--font-third);
  --color-primary: var(--font-primary);
  --color-secondary: var(--font-secondary);
  --color-tertiary: var(--font-tertiary);
  --color-neutral: var(--font-neutral);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Personnalisation de l'éditeur de texte React Quill */
.quill-editor-wrapper .ql-toolbar.ql-snow {
  border: 1px solid #E2E8F0 !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  background-color: #F8FAFC;
  padding: 10px 15px;
}

.quill-editor-wrapper .ql-container.ql-snow {
  border: 1px solid #E2E8F0 !important;
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  font-family: inherit;
}

.quill-editor-wrapper .ql-editor {
  min-height: 150px;
  font-size: 0.875rem; /* text-sm */
  line-height: 1.625;
  color: #334155; /* text-slate-700 */
}

.quill-editor-wrapper .ql-editor.ql-blank::before {
  font-style: normal;
  color: #94A3B8; /* text-slate-400 */
  font-size: 0.875rem;
}

.quill-editor-wrapper .ql-snow .ql-stroke {
  stroke: #64748B; /* slate-500 */
}

.quill-editor-wrapper .ql-snow .ql-fill {
  fill: #64748B;
}

.quill-editor-wrapper .ql-snow .ql-picker {
  color: #64748B;
}